[submodule "solver/extern/nlohmann"]
	path = solver/extern/nlohmann/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "extern/optional"]
	path = solver/extern/tl/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "solver/extern/fmtlib/fmt"]
	path = solver/extern/fmtlib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "solver/extern/tl/expected"]
	path = solver/extern/tl/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "solver/extern/spdlog/spdlog"]
	path = solver/extern/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "solver/extern/csv-parser/csv-parser"]
	path = solver/extern/csv-parser/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
